[Unit]
Description=Update cryptobigbro OHLCV CSV files and the github repository associated to it for binance exchange

[Service]
User=c2ba
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=bash $CRYPTOBIGBRO_PATH_TO_CODE/systemd/cryptobigbro-update.sh binance
