[Unit]
Description=Update cryptobigbro OHLCV CSV files and the github repository associated to it for bitmex exchange

[Service]
User=cryptobigbro
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=bash /home/cryptobigbro/cryptobigbro-update.sh bitmex 1000 1d,1h,1m
