[Unit]
Description=Run 'python cryptobigbro fetch-ohlcv bitmex' every 4 hours
Requires=cryptobigbro-bitmex-update.service

[Timer]
OnCalendar=0/4:00:00

[Install]
WantedBy=timers.target
