[Unit]
Description=Update cryptobigbro OHLCV CSV files and the github repository associated to it for coinbasepro exchange

[Service]
User=cryptobigbro
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=bash /home/cryptobigbro/cryptobigbro/systemd/cryptobigbro-update.sh coinbasepro 500 1d,1h,1m
