[Unit]
Description=Update cryptobigbro OHLCV CSV files and the github repository associated to it for bitmex exchange

[Service]
User=c2ba
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=cd $CRYPTOBIGBRO_PATH_TO_CODE; bash systemd/cryptobigbro-update.sh bitmex
