[Unit]
Description=Update cryptobigbro OHLCV CSV files and the github repositories associated to it for binance exchange

[Service]
User=cryptobigbro
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=bash /home/cryptobigbro/cryptobigbro/systemd/cryptobigbro-update.sh binance 250 1M,1w,1d,1h,1m