[Unit]
Description=Run 'python cryptobigbro fetch-ohlcv coinbasepro' every 2 hours
Requires=cryptobigbro-coinbasepro-update.service

[Timer]
OnCalendar=0/2:00:00

[Install]
WantedBy=timers.target
