[Unit]
Description=Run 'python cryptobigbro fetch-ohlcv coinbasepro' every quarter
Requires=cryptobigbro-coinbasepro-update.service

[Timer]
OnCalendar=*-*-* *:0,15,30,45

[Install]
WantedBy=timers.target
