[Unit]
Description=Run 'python cryptobigbro fetch-ohlcv coinbasepro' every 30 min
Requires=cryptobigbro-coinbasepro-update.service

[Timer]
OnCalendar=*-*-* *:0,30

[Install]
WantedBy=timers.target
