[Unit]
Description=Run 'python cryptobigbro fetch-ohlcv binance' every day
Requires=cryptobigbro-binance-update.service

[Timer]
OnCalendar=*-*-* 03:00:00

[Install]
WantedBy=timers.target
