{% extends "investor/base.html" %}
{% block body %}
<h1 class="title">Accounts</h1>
<table>
  <thead>
    <tr>
        <th>currency</th>
        <th>id</th>
        <th>balance</th>
        <th>available</th>
        <th>hold</th>
        <th>value</th>
        <th>percentage</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
        <td>{{ account.currency }}</td>
        <td><a href="/history/{{ account.id }}">{{ account.id }}</a></td>
        <td>{{ account.balance|round(2) if account.currency == 'EUR' else account.balance|round(8) }}</td>
        <td>{{ account.available|round(2) if account.currency == 'EUR' else account.available|round(8) }}</td>
        <td>{{ account.hold }}</td>
        <td>{{ account.value|round(2) }}</td>
        <td>{{ account.percentage|round(2) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}