{% extends "investor/base.html" %}
{% block body %}
<h1>Accounts</h1>
<table>
  <thead>
    <tr>
        <th>Currency</th>
        <th>Id</th>
        <th>Balance</th>
        <th>Available</th>
        <th>Hold</th>
        <th>Value</th>
        <th>%</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
        <td>{{ account.currency }}</td>
        <td>{{ account.id }}</td>
        <td>{{ account.balance|round(2) if account.currency == 'EUR' else account.balance|round(8) }}</td>
        <td>{{ account.available|round(2) if account.currency == 'EUR' else account.available|round(8) }}</td>
        <td>{{ account.hold }}</td>
        <td>{{ account.value|round(2) }}</td>
        <td>{{ account.percentage|round(2) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}