<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cryptobigbro investor</title>

  <style>
    * {
        font-family: Helvetica;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
  </style>
</head>
</style>
</head>

<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/accounts">accounts</a></li>
        <li><a href="/log">log</a></li>
    </ul>
    {% block body %}{% endblock %}
</body>

</html>