{% extends "investor/base.html" %}
{% block body %}

<h1>Account {{ account.currency }} {{ account.id }}</h1>

{{ account }}

<table>
  <thead>
      <tr>
        <th>id</th>
        <th>type</th>
        <th>amount</th>
        <th>balance</th>
        <th>created at</th>
        <th>details</th>
      </tr>
  </thead>
  <tbody>
    {% for entry in history %}
    <tr>
        <td>{{ entry.id }}</td>
        <td>{{ entry.type }}</td>
        <td>{{ entry.amount }}</td>
        <td>{{ entry.balance }}</td>
        <td>{{ entry.created_at }}</td>
        <td>{{ entry.details }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul>
  {% for transfer in transfers %}
    <li>{{ transfer }}</li>
  {% endfor %}
</ul>

{% endblock %}